<h1>{{title}}</h1>
<div class="col-md-12 col-lg-12" align="center">
    <div class="col-md-2 offset-md-10"><a href="/article/newArticle">New Article</a></div>
</div>

<div class="col-md-12 col-lg-12" >
<div class="row">
    {{#each select_article}}

    <div class="col-md-6 col-lg-6" align="center">

        <form method="post" action="/article/updateArticle">
            <fieldset>

            <div class="col-md-12">

                <h1>{{title}}</h1>
            </div>

            <input type="hidden" id="art_id" name="art_id" value="{{articleID}}" required>

            <div id="imageBox2">
            <img class="imageBox2" src="data:image/(png|gif|jpeg);base64,{{image}}" width="300" heigth="200">
            </div>

            <div class="col-md-12">
                <p>{{description}}</p>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="linkUPP col-md-2 offset-md-4" >
                        <a href="http://localhost:3000/article/updateArticle?id={{articleID}}" >Update</a>
                    </div>
                    <div class="linkDEL col-md-2" >
                        <a href="http://localhost:3000/article/deleteArticle?id={{articleID}}" >Delete</a>
                    </div>
                </div>
            </div><br/>
            </fieldset>

</form>

</div>

    {{/each}}
</div>
</div>


</body>



