<div class="container-fluid" style="padding: 15px">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-3 col-sm-pull-9 sidebar-offcanvas"
             id="sidebar">
            <div class="link_category list-group">
                <button class="list-group-item active">Category</button>
                {{#each category_display}}
                    <a class="list-group-item" href="http://localhost:3000/index/categoryList?id={{id}}">{{name}}</a>
                {{/each}}
            </div>
        </div>

        <div class="col-xs-12 col-sm-9 col-sm-push-3">


            <div class="row">


                <div class="pannel_cat_tag col-md-12 col-lg-12">
                    <div class="pannel_cat_tag col-lg-4 offset-lg-2">
                        <div class="linkCatButton"><a  href="http://localhost:3000/index/categoryList?id={{articleTag.Category.id}}">{{articleTag.Category.name}}</a></div>
                        {{#each articleTag.Tags}}
                            <div class="linkTagButton"><a   href="#">{{name}}</a></div>
                        {{/each}}
                    </div>
                </div>



                <div class="index_art col-lg-8 offset-lg-2 col-md-8 offset-md-2" align="center">
                    <div id="title_index" class="col-md-12">
                        <h1>{{articleTag.title}}</h1>
                    </div>

                    <input type="hidden" id="art_id" name="art_id" value="{{articleTag.articleID}}" required>

                    <div id="imageBox2">
                        <img class="imageBox2" src="data:image/(png|gif|jpeg);base64,{{articleTag.image}}" width="300"
                             heigth="200">
                    </div>

                    <div id="desc_index" class="col-md-12">
                        <p>{{articleTag.description}}</p>
                    </div>

                    <div id="author_index" class="col-md-12" align="left">
                        <div id="author_index">
                            <p>Author: {{articleTag.User.username}}</p>
                        </div>
                    </div>
                </div>
                <div id="back_comm_title"
                     class="pannel_cat_tag col-lg-8 offset-lg-2  col-md-8 offset-md-2  col-sm-7 offset-sm-3   col-xs-7 offset-xs-3">
                    <div id="title_comm" class="col-md-5 col-lg-4 col-xs-5 col-sm-5">
                        <p>Commentary</p>
                    </div>
                </div>

                <div class="pannel_cat_tag col-lg-8 offset-lg-2  col-md-8 offset-md-2">
                    <input class="input_css" type="text" id="comment" name="comment" placeholder="Let a commentary">
                </div>
                <div class="pannel_cat_tag col-lg-8 offset-lg-2  col-md-8 offset-md-2" align="center">
                    <button id="btn_comment" name='btn_comment' class='btn_sel_index btn'> Comment this article</button>
                </div>
                <div class="pannel_cat_tag col-lg-8 offset-lg-2  col-md-8 offset-md-2">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Commentary</th>
                                <th>date</th>
                                {{#if checkAdmin}}
                                    <th>Action</th>
                                {{/if}}
                            </tr>
                            </thead>
                            <tbody>
                            <div id="container_comment">
                            </div>
                            {{#each commentaryList}}
                                <tr>
                                    {{#if User.username}}
                                        <td>{{User.username}}</td>
                                    {{else}}
                                        <td>Anonymous</td>
                                    {{/if}}

                                    <td>{{description}}</td>
                                    <td>{{createdAt}}</td>
                                    {{#if ../checkAdmin}}
                                        <td>
                                            <button value="{{id}}" name='btn_cat'
                                                    class='btn_sel_index btn_sel_cancel btn'> Delete
                                            </button>
                                        </td>
                                    {{/if}}

                                </tr>
                            {{/each}}

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>


    </div>


</div>
<script>

    function del_Com_Ajax() {
        $('.btn_sel_cancel').click(function (event) {
            event.preventDefault();


            $.ajax({
                type: 'POST',
                data: {comID: $(this).val()},
                url: '/article/deleteComm',
            }).done((delComment) => {
                $(this).parent().parent().remove();

            });
        });
    }


    $('#btn_comment').click(function (event) {
        event.preventDefault();


        $.ajax({
            type: 'POST',
            data: {comment: $('#comment').val(), art_id: $('#art_id').val()},
            url: '/article/createComm',
        }).done((newComment) => {
            let commentDesc = "";
            commentDesc += "<tr>"
            if (newComment.comment.UserId === null) {
                commentDesc += "<td>Anonymous</td>";


            } else {
                commentDesc += "<td>" + newComment.UserComm.username + " </td>";
            }
            commentDesc += "<td>" + newComment.comment.description + " </td>";
            commentDesc += "<td>" + newComment.comment.createdAt + " </td>";
            if (newComment.comment.UserId != null) {
                commentDesc += "<td> <button  value=" + newComment.comment.id + "  name='btn_cat' class='btn_sel_index btn_sel_cancel btn'> Delete </button>  </td>";
            }
            commentDesc += "</tr>"
            $('.table tbody').append(commentDesc);
            del_Com_Ajax();


        });
    });

    del_Com_Ajax();


</script>


